body {
	color: #0B2349;
}
.button {
	background-color: rgba(13, 97, 188, 0.8);
    color: #fff;
    font-size: 20px;
    font-size: 1.2vw;
    padding: 15px 30px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}
.button:hover {
	background-color: rgba(13, 97, 188, 1);
	transition: 0.4s;
}
h3 {
	font-size: 2em;
	font-weight: 600;
	padding: 20px 0;
}
h2 {
	font-size: 1.2em;
	font-weight: 550;
	margin: 10px; 
}
p {
	line-height: 1.7em;
}
main {
	text-align: center;
}
section {
	padding: 0;
}
.even {
	background-color: #DFE0EB;
}
.container {
	display: flex;
	justify-content: space-around;
}
i {
	color: #0D61BC;
}
input {
	max-width: 300px;
	font-size: 13px;
	padding: 6px;
	border: 2px solid #fff;
	border-radius: 8px;
}
input:focus {
	border: 2px solid #0D61BC;
	outline: none;
}
.form-btn {
	border: 1px solid #fff;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 10px;
}
a {
	color: #0B2349;
}
aside {
	width: 25%;
	background-color: #DFE0EB;
	text-align: center;
	padding: 30px 20px;
	position: relative;
}
aside form {
	margin-top: 120px;
}
aside input {
	padding: 5px;
	margin: 10px 20px 20px 10px; 
}
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
	border-top: 1px solid #8AA9D6;
}
footer form {
	width: 50%;
}
footer input {
	border: 2px solid #DFE0EB;
	margin: 10px; 
	width: 60%;
}
footer .form-btn {
	margin: 10px;
	font-size: 0.8em;
	padding: 5px;
	width: 20%;
	min-width: 80px;
	height: 30px;
	outline: none;
}
.footer {
	font-size: 1.2em;
	width: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.footer .site-name {
	font-size: 1.5em;
}
.main {
	display: flex;
	min-height: 600px;
}
.main section {
	padding: 100px 8%;
	width: 75%;
	text-align: justify;
}
